.carrousel {
	margin: auto;
	width: 87%;
	max-width: 1800px;
	max-height: 832px;
}

.slider-wrapper {
	position: relative;
	width: 100%;
}

.slider-wrapper .slider {
	position: relative;
	width: 100%;
	margin: auto;
}

.slider-wrapper .slider .slick-list {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slider-wrapper .slider.animated {
	-webkit-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.slider-wrapper .slide {
	position: relative;
	width: 100%;
}

.slider-wrapper .slide img {
	width: 100%;
	display: inline;
	max-height: 85vh;
}

.slider-wrapper .slide .slider-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	text-align: center;
}
.slider-text h1 {
	font: bold min(72px, 4vw) / 120% "Brandon Grotesque";
	color: #24282a;
	display: block;
	text-decoration: none;
	color: #ffffff;
}
.slider-text h3 {
	text-decoration: none;
	color: #24282a;
	font: bold min(40px, 3vw) / 120% "Brandon Grotesque";
	color: #0d5775;
	text-transform: uppercase;
}
.slide a {
	text-decoration: none;
	color: #24282a;
}
.slider li {
	list-style: none;
}
.slider-wrapper .slide iframe {
	display: inline-block;
	width: calc(100% - 80px);
	margin: 0 40px 40px;
	border: 0;
}

.slider-wrapper .slick-dots {
	position: absolute;
	right: -40px;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	padding: 0;
	z-index: 1;
}

@media (max-width: 900px) {
	.slider-wrapper .slick-dots {
		bottom: 0;
		right: -20px;
	}
}

.slider-wrapper .slick-dots li {
	list-style: none;
	padding: 10px 0;
}

.slider-wrapper .slick-dots li button {
	-webkit-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
	opacity: 0.3;
	filter: alpha(opacity=30);
	box-shadow: rgb(0, 0, 0, 0.16) 0px 3px 6px;
	background: #adadad;
	border-radius: 50%;
	border: none;
	width: 11px;
	height: 11px;
	font-size: 0;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}

.slider-wrapper .slick-dots li.slick-active button,
.slider-wrapper .slick-dots li:hover button {
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #e3be20;
}
