@font-face {
	font-family: "Asap Condensed Medium";
	src: url("../fonts/AsapCondensed-Medium.ttf");
	font-display: swap;
	font-weight: normal;
}

@font-face {
	font-family: "Asap Condensed SemiBold";
	src: url("../fonts/AsapCondensed-SemiBold.ttf");
	font-display: swap;
	font-weight: normal;
}
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/BrandonGrotesqueRegular.ttf");
	font-display: swap;
	font-weight: normal;
}
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/BrandonGrotesqueMedium.ttf");
	font-display: swap;
	font-weight: lighter;
}
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/BrandonGrotesqueBold.ttf");
	font-display: swap;
	font-weight: bold;
}

@font-face {
	font-family: "Segoe UI";
	src: url("../fonts/segoe-ui-semibold-2.ttf");
	font-display: swap;
	font-weight: 600;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header {
	background: #ffffff;
	box-shadow: 0px 3px 6px #0000000f;
	padding: 0.4% 0;
	margin-bottom: 1%;
}

nav {
	color: #fff;
	display: flex;
	width: 90%;
	max-width: 1636px;
	margin: auto;
	align-items: center;
	justify-content: space-between;
}

.header__img {
	width: 50%;
}
nav .mainMenu {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: flex-end;
}
nav .mainMenu li a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	color: #363940;
	font: normal min(24px, 1.4vw) / 120% Brandon Grotesque;
}

nav .openMenu {
	font-size: 2rem;
	margin: 20px;
	display: none;
	cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
	font-size: 2rem;
	display: none;
	cursor: pointer;
}

nav .logo {
	cursor: pointer;
	max-width: 193px;
	width: 8%;
	min-width: 75px;
}

.logo__img {
	width: 100%;
}

@media (max-width: 992px) {
	nav .mainMenu {
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background: #e3be20;
		transition: top 1s ease;
		display: none;
	}
	nav .mainMenu .closeMenu {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	nav .openMenu {
		display: block;
	}
	nav .mainMenu li a {
		font: normal min(24px, 4vw) / 120% Brandon Grotesque;
	}

	nav .mainMenu li a:hover {
		background: none;
		font-size: 1.6rem;
	}
	.icons i {
		display: inline-block;
		padding: 12px;
	}
	.fa-bars {
		color: gray;
	}
}

.bem-vindo {
	margin: auto;
	padding: 4% 0 0 0;
	width: 90%;
	max-width: 1636px;
	display: flex;
}

.bem-vindo__titulo {
	display: flex;
	width: 50%;
	max-width: 402px;
	text-transform: uppercase;
	font: normal min(50px, 2vw) / 120% Asap Condensed Medium;
	color: #707070;
}

.bem-vindo__titulo::before {
	content: "";
	width: 4vw;
	height: 100%;
	background-color: #e3be20;
	display: inline-block;
	z-index: -2;
	margin-right: -2vw;
	max-height: 314px;
}

.bem-vindo__texto {
	width: 100%;
	max-width: 1234px;
}

.bem-vindo__texto > div {
	display: flex;
	align-items: center;
}

.bem-vindo__texto p {
	font: lighter min(35px, 1.5vw) / 120% Brandon Grotesque;
	color: #707070;
}

.bem-vindo__texto span {
	text-align: left;
	font: lighter min(30px, 1.5vw) / 120% Brandon Grotesque;
	color: #707070;
	display: flex;
	position: relative;
	align-items: center;
}
.bem-vindo__texto span::before {
	content: "";
	height: 2.5vw;
	background-color: #e3be20;
	display: inline-block;
	width: 2.5vw;
	z-index: -2;
	position: block;
	border-radius: 100%;
	margin-right: -1.3vw;
	max-width: 50px;
	max-height: 50px;
}

.bem-vindo__texto img {
	width: 100%;
	max-width: 2vw;
}

.projetos-header {
	padding-top: 2%;
	margin: auto;
	width: 90%;
	max-width: 1636px;
	display: flex;
	justify-content: space-between;
}

.projetos-header h3 {
	font: normal min(75px, 2.5vw) / 120% Asap Condensed Medium;
	letter-spacing: 0px;
	color: #707070;
}

.projetos-header-container-svg {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	padding-top: 10px;
	align-self: flex-end;
	margin: -4% 0 0 0;
	width: 100%;
}

.projetos-header-container-svg-header {
	margin: auto;
	max-width: 1636px;
}

.projetos-header-container-svg-header img {
	width: 100%;
}

.projetos-header-container-svg img {
	width: 100%;
	max-width: 1636px;
}

.box-top {
	border-left: 5px solid #e3be20;
	border-top: 5px solid #e3be20;
	margin: 0 0 -20px 0;
	width: 38px;
	height: 38px;
	transform: rotate(45deg);
}

.box-bottom {
	width: 49px;
	height: 20px;
	border-right: 5px solid #e3be20;
	border-left: 5px solid #e3be20;
}

.projetos-header span {
	font: normal min(35px, 1.5vw) / 120% Brandon Grotesque;
	color: #707070;
	display: flex;
	position: relative;
	align-items: center;
	white-space: nowrap;
}

.projetos-header span::before {
	content: "";
	height: 2.5vw;
	background-color: #e3be20;
	display: inline-block;
	width: 2.5vw;
	z-index: -2;
	border-radius: 100%;
	margin-right: -1.6vw;
	max-width: 50px;
	max-height: 50px;
}

.quero-orcamento {
	align-items: center;
	display: flex;
}

.quero-orcamento img {
	width: 100%;
	max-width: 2vw;
}

.quero-orcamento > div {
	width: 7%;
	padding: 3% 0 0 0;
}

.imagens-projeto-home {
	width: 90%;
	margin: auto;
	max-width: 1636px;
}

.imagens-projeto-home img {
	width: 100%;
}

.grid-container-one {
	padding: 3% 0 0 0;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.imagem1 {
	width: 40%;
}

.container-one-grid-right {
	width: 60%;
	position: relative;
}

.imagem2 {
}

.imagem3 {
	position: absolute;
	bottom: 0;
	right: 0;
}

.grid-container-two {
	padding-top: 2%;
	display: flex;
	gap: 20px;
}

.grid-container-tree {
	display: flex;
	gap: 20px;
}

.imagem8,
.imagem6 {
	max-width: 527px;
}
.conheca-todos-projetos {
	display: flex;
	margin: auto;
	justify-content: center;
	padding: 2% 0 0 0;
}

.conheca-todos-projetos h4 {
	font: normal min(40px, 1.5vw) / 120% Brandon Grotesque;
	color: #707070;
	display: flex;
	align-items: center;
}

.conheca-todos-projetos > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.conheca-todos-projetos img {
	max-width: 2vw;
	width: 100%;
}

.conheca-todos-projetos h4:before {
	content: "";
	height: 2.5vw;
	background-color: #e3be20;
	display: inline-block;
	width: 2.5vw;
	z-index: -2;
	position: block;
	border-radius: 100%;
	margin-right: -1.7vw;
}

.ultimas-noticias-box {
	display: flex;
	flex-direction: column;
}

.projetos-header-ultimas-noticias {
	padding: 5% 0 0 0;
	position: relative;
	width: 90%;
	max-width: 1636px;
	margin: auto;
}

.projetos-header-ultimas-noticias h3 {
	position: absolute;
	font: normal min(78px, 2.5vw) / 120% Asap Condensed Medium;
	letter-spacing: 0px;
	color: #707070;
}

.projetos-header-ultimas-noticias img {
	width: 100%;
}

.conteudo-carrousel {
	padding: 0 0 6% 0;
	width: 90%;
	margin: auto;
	max-width: 1636px;
}

.carrousel-noticias {
	margin: 3% 0 0 0;
	position: relative;
}

.carrousel-noticias__card .slick-slide {
	position: relative;
}

.carrousel-noticias img {
	width: 100%;
	position: relative;
	z-index: 1;
}

.carrousel-noticias__texto {
	position: absolute;
	z-index: 2;
	right: 0;
	bottom: 0;
	background-color: white;
}
.carrousel-noticias .slick-dots {
	display: flex;
	justify-content: center;
}

.carrousel-noticias .slick-dots li {
	padding: 8px;
}

.carrousel-noticias .slick-dots li button {
	-webkit-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
	opacity: 0.3;
	filter: alpha(opacity=30);
	box-shadow: rgb(0, 0, 0, 0.16) 0px 3px 6px;
	background: #adadad;
	border-radius: 50%;
	border: none;
	width: 11px;
	height: 11px;
	font-size: 0;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}

.carrousel-noticias .slick-dots li.slick-active button,
.carrousel-noticias .slick-dots li:hover button {
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #e3be20;
}

.carrousel-noticias__card {
	position: relative;
	padding: 0% 0.4% 0 0;
}

.footer {
	position: relative;
	background-color: #e3be20;
	padding: 0 0 4% 0;
}

.footer__detalhe-footer {
	position: absolute;
	left: 0.5%;
	width: 20%;
}

.footer__detalhe-footer img {
	width: 100%;
}

.footer__container {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 7% 0 0 3%;
}

.footer__texto h5 {
	font: normal min(60px, 3vw) / 120% Brandon Grotesque;
	color: #ffffff;
}

.footer__texto span {
	font: normal min(40px, 3vw) / 120% Brandon Grotesque;
	color: #ffffff;
	display: block;
	opacity: 0.8;
}

.redes-sociais {
	display: flex;
	padding: 2% 1% 0 1%;
	width: 50%;
	max-width: 425px;
	display: flex;
	justify-content: space-around;
}

.redes-sociais > div {
	width: 4vw;
}

.redes-sociais img {
	width: 100%;
	height: 45px;
}

.footer__final {
	text-align: left;
	letter-spacing: 2.45px;
	color: #ffffff;
}

.footer__final {
	margin-top: -4%;
	font: normal min(30px, 3vw) / 120% Brandon Grotesque;
}

.rodape {
	padding: 1% 0;
	background: #707070 0% 0% no-repeat padding-box;
	width: 100%;
}

.rodape img {
	width: 32%;
	max-width: 243px;
}

.rodape > div {
	width: 90%;
	margin: auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.rodape > div span {
	font: normal min(25px, 2vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #ffffff;
}

.blog-header {
	display: flex;
	width: 90%;
	margin: auto;
	padding: 0 0 3% 0;
}

.blog-header__wrapper-img {
	max-width: 1088px;
	width: 63%;
}

.blog-header__wrapper-img img {
	width: 100%;
	max-height: 82vh;
}

.blog-header__texto {
	align-self: flex-end;
	margin-left: -12.5%;
	width: 40%;
	max-width: 674px;
	background: #ffffff 0% 0% no-repeat padding-box;
	padding-left: 2%;
}

.blog-header__texto h1 {
	padding: 2% 0;
	font: normal min(55px, 2.5vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
}

.blog-header__texto p {
	font: 300 min(25px, 1.4vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
	opacity: 0.6;
	padding: 0 0 2% 0;
}

.blog-header__texto .blog-confira {
	display: flex;
	align-items: center;
}

.blog-header__texto .blog-confira h4 {
	font: normal min(40px, 1.5vw) / 120% Brandon Grotesque;
	color: #707070;
	justify-content: center;
	display: flex;
	align-items: center;
}

.blog-header__texto .blog-confira h4::before {
	content: "";
	height: 3vw;
	background-color: #e3be20;
	display: inline-block;
	width: 3vw;
	border-radius: 100%;
	margin-right: -1.5vw;
}
.blog-confira img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.blog-confira > div {
	width: 2vw;
	position: relative;
}

.grid-section h5 {
	padding-bottom: 1.5%;
	width: 90%;
	margin: auto;
	font: 600 min(30px, 2vw) / 120% Segoe UI;
	letter-spacing: 0px;
	color: #e3be20;
}
.grid-container__blog > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.grid-container__blog {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 5%;
}

.blog-imagem1 {
	width: 47%;
	padding: 0 0 3% 0;
}

.blog-imagem2 {
	width: 47%;
	padding: 0 0 3% 0;
}

.blog-imagem3 {
	width: 47%;
	padding: 0 0 3% 0;
}

.blog-imagem4 {
	width: 47%;
	padding: 0 0 3% 0;
}

.blog-imagem5 {
	width: 47%;
	padding: 0 0 3% 0;
}

.blog-imagem6 {
	width: 47%;
	padding: 0 0 3% 0;
}

.blog-imagem7 {
	width: 47%;
	padding: 0 0 3% 0;
}

.blog-imagem8 {
	width: 47%;
	padding: 0 0 3% 0;
}

.blog-imagem9 {
	width: 47%;
	padding: 0 0 3% 0;
}

.blog-imagem10 {
	width: 47%;
	padding: 0 0 3% 0;
}

.grid-container__blog {
}

.grid-container__blog p {
	font: 600 min(40px, 1.5vw) / 120% Segoe UI;
	letter-spacing: 0px;
	color: #474747;
	padding: 2% 0;
}

.grid-container__blog span {
	font: 600 min(30px, 1.2vw) / 120% Segoe UI;
	letter-spacing: 0px;
	color: #e3be20;
}

.main-contato {
	position: relative;
	width: 90%;
	margin: auto;
}

.title-contato {
	font: normal min(78px, 3vw) / 120% Brandon Grotesque;
	color: #707070;
	padding: 0 0 1% 0;
}

.contato-contato {
	padding: 0 0 3% 0;
	display: block;
}

.container-icon-contato {
	width: 1.4%;
	display: flex;
}

.container-icon-contato img {
	width: 100%;

	margin: 0 40% 0 0;
}

.contato-section p {
	font: 600 min(30px, 2vw) / 120% Segoe UI;
	letter-spacing: 0px;
	color: #474747;
}
.contato-section span {
	font: normal min(20px, 2vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
}

.contato-section img {
	width: 100%;
	max-width: 1017px;
}

.blog-formulario {
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 3%;
	width: 50%;
	position: absolute;
	top: 10%;
	right: 0;
	max-width: 822px;
	padding: 0 3% 3% 3%;
	z-index: 2;
	background-color: #fff;
}

.blog-formulario h3 {
	margin-top: 3%;
	font: normal min(40px, 3vw) / 120% Brandon Grotesque;
	color: #707070;
}

.blog-formulario label {
	font: 600 min(25px, 2vw) / 120% Segoe UI;
	color: #707070;
}

.blog-formulario input {
	color: #d6d6d6;
	border: none;
	border-bottom: 2px solid #d6d6d6;
	padding: 2% 0;
	margin: 2% 0;
}

.blog-formulario input::placeholder {
	font: normal min(25px, 2vw) / 120% Segoe UI;
	opacity: 0.2;
}
.blog-formulario li {
	margin: 4% 0;
	display: flex;
	flex-direction: column;
}

.blog-formulario label {
	margin: 0 0 2% 0;
}

.button-formulario {
	text-align: left;
	font: lighter min(30px, 2vw) / 120% Brandon Grotesque;
	color: #707070;
	display: flex;
	position: relative;
	align-items: center;
	background: transparent;
	border: none;
	cursor: pointer;
}

.button-formulario::before {
	content: "";
	height: 3vw;
	background-color: #e3be20;
	display: inline-block;
	width: 3vw;
	z-index: -2;
	position: block;
	border-radius: 100%;
	margin-right: -1.5vw;
	max-width: 50px;
	max-height: 50px;
}

.sobre-header {
	display: flex;
	width: 85%;
	margin: auto;
	padding: 4% 0 0 0;
}

.sobre-header__texto {
	width: 40%;
	max-width: 648px;
	padding: 0 3% 0 0;
}

.sobre-header > div h1 {
	text-align: left;
	font: normal min(72px, 3vw) / 120% Asap Condensed Medium;
	letter-spacing: 0px;
	color: #707070;
	padding-bottom: 2%;
}
.sobre-header > div p {
	font: lighter min(25px, 1.6vw) / 120% Brandon Grotesque;
	opacity: 0.5;
	letter-spacing: 0px;
	color: #707070;
}
.sobre-header__content-image {
	position: relative;
	width: 60%;
	z-index: -2;
}

.sobre-header__content-image img {
	width: 100%;
}

.sobre-header__content-image::after {
	overflow: hidden;
	content: "";
	background-image: url("../img/background-sobre-bola.svg");
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	top: -5%;
	z-index: -1;
	right: -4%;
	background-size: 100% 100%;
}

.sobre-header-secundario {
	display: flex;
	width: 90%;
	margin: -9% auto 0 auto;
}

.header-secundario__container-img {
	width: 100vw;
}

.header-secundario__container-img img {
	width: 100%;
}

.sobre-header-secundario__texto {
	width: 100%;
	align-self: flex-end;
}

.sobre-header-secundario__texto p {
	font: normal min(25px, 1.6vw) / 120% Brandon Grotesque;
	opacity: 0.5;
	letter-spacing: 0px;
	color: #707070;
	padding-bottom: 4%;
}

.sobre-para-natalia {
	padding: 7% 0 0 0;
	display: flex;
	width: 70%;
	align-items: center;
	margin: auto;
	justify-content: center;
}

.sobre-texto-para-natalia {
	max-width: 765px;
	width: 100%;
	position: relative;
	z-index: 2;
}

.sobre-texto-para-natalia p {
	font: bold min(50px, 2vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #e3be20;
}

.sobre-container-img-para-natalia {
	max-width: 564px;
	width: 60%;
	margin-left: -6vw;
}

.sobre-container-img-para-natalia img {
	width: 100%;
}

.sobre-grid-container {
	padding: 6% 0;
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 20px;
	grid-template-areas: "sobre-imagem1 sobre-imagem2 sobre-imagem3 sobre-imagem4";
}

.sobre-grid-container img {
	width: 100%;
}

.sobre-grid-container span {
	font: 600 min(30px, 2.5vw) / 120% Segoe UI;
	color: #707070;
}
.sobre-imagem1 {
	grid-area: sobre-imagem1;
}

.sobre-imagem2 {
	grid-area: sobre-imagem2;
}

.sobre-imagem3 {
	grid-area: sobre-imagem3;
}

.sobre-imagem4 {
	grid-area: sobre-imagem4;
}

/* new page */

.servicos-header {
	width: 90%;
	margin: auto;
}

.serviços-header__texto {
	width: 90%;
	margin: auto;
}

.serviços-header__texto h1 {
	font: normal min(78px, 3vw) / 120% Asap Condensed Medium;
	letter-spacing: 0px;
	color: #707070;
	padding-bottom: 1%;
}

.serviços-header__texto p {
	text-align: left;
	font: normal min(25px, 1.5vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
	padding-bottom: 2.5%;
}

.servicos-header__container-img {
	position: relative;
	width: 100%;
	display: flex;
}

.servicos-header__container-img::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #707070;
	opacity: 0.65;
}

.servicos-header__container-img img {
	width: 100%;
	z-index: -2;
}

.servicos-header__container-text h2 {
	font: normal min(35px, 2vw) / 120% Asap Condensed SemiBold;
	letter-spacing: 0px;
	opacity: 0.9;
	color: #ffffff;
}

.servicos-header__container-tex-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.servicos-header__container-tex-center p {
	font: normal min(35px, 2vw) / 120% Asap Condensed SemiBold;
	color: #ffffff;
	opacity: 0.9;
}

.servicos-header__container-text {
	position: absolute;
	top: 5%;
	left: 4%;
}

.serviços-header__quero-orcamento {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 2% 0 5% 0%;
}

.serviços-header__quero-orcamento img {
	padding: 0.3% 0 0 1%;
	width: 3vw;
}
.serviços-header__quero-orcamento span {
	display: flex;
	align-items: center;
	font: normal min(39px, 1.5vw) / 120% Brandon Grotesque;
	color: #707070;
}
.serviços-header__quero-orcamento span::before {
	content: "";
	height: 2.5vw;
	background-color: #e3be20;
	display: inline-block;
	width: 2.5vw;
	z-index: -2;
	position: block;
	border-radius: 100%;
	margin-right: -1.5vw;
}

.section-projetos {
	max-width: 1636px;
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 2% 0 4% 0;
}

.section-projetos > div {
	display: flex;
	gap: 2%;
}
.projeto-counteudo-box {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	position: relative;
}

.projeto-counteudo-box img {
	width: 100%;
}

.projeto-counteudo-box:hover .projetos__conteudo-hover {
	opacity: 1;
}

.projetos__conteudo-hover {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 4;
	opacity: 0;
	transform: translate(-50%, -50%);
	width: 60%;
}

.projetos__conteudo-hover h3 {
	font: min(60px, 2vw) / 110% Brandon Grotesque;
	color: #ffffff;
}

.projetos__container--subtitulo {
	background-color: #ffffff;
	font: 600 min(30px, 3vw) / 120% Segoe UI;
	color: #e3be20;
	padding: 1% 0 3% 0;
	display: inline-block;
}

.projeto-counteudo-box:hover::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: #707070;
	opacity: 0.65;
}
.projetos__confira {
	display: flex;
	align-items: center;
}
.projetos__confira span {
	display: flex;
	align-items: center;
	font: min(40px, 1.4vw) / 120% Brandon Grotesque;
	color: #ffffff;
}

.projetos__confira span::before {
	content: "";
	height: 2.5vw;
	background-color: #e3be20;
	display: inline-block;
	width: 2.5vw;
	z-index: -2;
	position: block;
	border-radius: 100%;
	margin-right: -1.7vw;
}

.projetos__confira img {
	max-width: 1.5vw;
	width: 100%;
	display: inline-block;
}

.container1 {
}
.container2 {
}
.container3 {
}
.projetos-interna {
	width: 90%;
	margin: auto;
	display: flex;
	padding: 3% 0 3% 0;
}
.projetos-interna__texto {
	width: 30%;
	max-width: 448px;
	padding-left: 2%;
}
.projetos-interna__img-container {
	max-width: 1149px;
	width: 70%;
}

.projetos-interna__img-container img {
	width: 100%;
}

.projetos-interna__texto h2 {
	font: bold min(30px, 2vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
	padding-bottom: 2%;
}

.projetos-interna__texto span {
	font: normal min(25px, 1.5vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
	display: inline-block;
	padding: 1% 0;
	opacity: 0.7;
}

.projeto-interno__section-texto {
	width: 90%;
	margin: auto;

	padding-bottom: 3%;
}

.projeto-interno__section-texto h1 {
	font: normal min(60px, 3vw) / 120% Asap Condensed Medium;
	letter-spacing: 0px;
	color: #707070;
	padding-bottom: 2%;
}

.projeto-interno__section-texto p {
	font: normal min(25px, 1.5vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
	opacity: 0.8;
}

.projetos-interno-grid-imagens {
	margin: auto;
	width: 90%;
	padding-bottom: 5%;
}

.projetos-interno-conteudo1 {
	display: flex;
	gap: 2%;
	padding-bottom: 2%;
}

.projetos-interno-imagem1 {
	max-width: 978px;
}

.projetos-interno-imagem2 {
	max-width: 614px;
}

.projetos-interno-grid-imagens img {
	width: 100%;
}

.projetos-interno-conteudo2 {
	display: flex;
	padding-bottom: 2%;
	gap: 2%;
}

.projetos-interno-imagem3 {
	max-width: 516px;
}
.projetos-interno-imagem4 {
	max-width: 516px;
}
.projetos-interno-imagem5 {
	max-width: 516px;
}

.projetos-interno-imagem7 {
	max-width: 1636px;
}

.pronto-para-morar__header {
	width: 100%;
	display: flex;
	max-width: 1920px;
	margin: auto;
	justify-content: flex-end;
}
.pronto-para-morar__header main {
	display: flex;
	width: 93%;
	justify-content: space-between;
}

.pronto-para-morar__header-texto {
	width: 50%;
	max-width: 660px;
	padding-right: 2%;
}

.pronto-para-morar__header-texto h1 {
	font: normal min(78px, 3.5vw) / 120% Asap Condensed Medium;
	color: #707070;
}

.pronto-para-morar__header-texto span {
	font: bold min(30px, 1.5vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
	display: inline-block;
	margin: 3% 0;
}

.pronto-para-morar__header-texto p,
.pronto-para-morar__header-texto li {
	text-align: left;
	font: normal min(25px, 1.5vw) / 120% Brandon Grotesque;
	color: #707070;
	opacity: 0.8;
	display: flex;
	align-items: center;
}

.pronto-para-morar__header-texto ul {
	padding: 2% 0;
}

.dot-orange {
	width: 1vw;
	height: 1vw;
	display: block;
	background-color: #e3be20;
	border-radius: 100px;
	margin-right: 1.5% !important;
}

.pronto-para-morar__header-container-img {
	max-width: 1000px;
	width: 50%;
}

.pronto-para-morar__header-container-img img {
	width: 100%;
	max-height: 980px;
}

.pronto-para-morar__ns-republica-um {
	display: flex;
	width: 86%;
	margin: auto;
	padding: 5% 0;
	gap: 2%;
}

.ns-republica-um__mapa {
	width: 50%;
	max-width: 807px;
}

.cns-republica-um-content {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.ns-republica-um__mapa iframe {
	width: 100%;
	height: 58vw;
}

.ns-republica-um__texto {
	padding-left: 2%;
	width: 100%;
	max-width: 774px;
}

.ns-republica-um__texto h2 {
	font: normal min(78px, 3.5vw) / 120% Asap Condensed Medium;
	letter-spacing: 0px;
	color: #707070;
}

.ns-republica-um__texto span {
	font: bold min(30px, 2vw) / 120% Brandon Grotesque;
	color: #707070;
	padding: 4% 0;
	display: inline-block;
}

.ns-republica-um__texto p {
	font: normal min(25px, 1.5vw) / 120% Brandon Grotesque;
	color: #707070;
	padding: 0 0 2 0;
}

.pronto-para-morar__ns-republica-dois {
	width: 86%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	gap: 2%;
}
.ns-republica-dois__texto {
	width: 50%;
	max-width: 774px;
}

.ns-republica-dois__texto h2 {
	text-align: left;

	font: normal min(78px, 3.5vw) / 120% Asap Condensed Medium;
	letter-spacing: 0px;
	color: #707070;
}

.ns-republica-dois__texto span {
	font: bold min(30px, 2vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
	padding: 3% 0;
	display: inline-block;
}

.ns-republica-dois__mapa {
	width: 50%;
}

.ns-republica-dois__texto p {
	text-align: left;
	font: normal min(25px, 1.5vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #707070;
}

.ns-republica-dois__mapa iframe {
	height: 58vw;
	width: 100%;
}
.carrousel-pronto-para-morar {
}
.carrousel-pronto-para-morar .slick-dots li button {
	-webkit-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
	opacity: 0.3;
	filter: alpha(opacity=30);
	box-shadow: rgb(0, 0, 0, 0.16) 0px 3px 6px;
	background: #adadad;
	border-radius: 50%;
	border: none;
	width: 11px;
	height: 11px;
	font-size: 0;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}

.carrousel-pronto-para-morar .slick-dots li.slick-active button,
.carrousel-pronto-para-morar .slick-dots li:hover button {
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #e3be20;
}
.carrousel-pronto-para-morar img {
	width: 100%;
	position: relative;
	z-index: 1;
}

.carrousel-pronto-para-morar .slick-dots {
	display: flex;
	justify-content: center;
}
.carrousel-pronto-para-morar .slick-dots li {
	padding: 8px;
}

.miniatura-container-img {
	width: 86%;
	margin: auto;
	position: relative;
}
.miniatura-container-img img {
	width: 100%;
	opacity: 0.65;
}

.miniatura-confira-button {
	display: flex;
	align-items: center;
	width: 86%;
	margin: auto;
	padding: 2% 0 7% 0;
}
.miniatura-confira-button > div {
	margin: 0 0 0 1%;
	width: 2vw;
}

.miniatura-confira-button img {
	width: 100%;
	margin: 40% 0 0 0;
}

.miniatura-confira-button h4 {
	font: normal min(40px, 3vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	display: flex;
	align-items: center;
	color: #707070;
}

.miniatura-confira-button h4::before {
	content: "";
	height: 3vw;
	background-color: #e3be20;
	display: inline-block;
	width: 3vw;
	z-index: -2;
	border-radius: 100%;
	margin-right: -2vw;
}
.pronto-para-morar__tenhointeresse {
	position: relative;
	align-items: center;
	display: flex;
}

.pronto-para-morar__tenhointeresse > div {
	position: relative;
}
.pronto-para-morar__tenhointeresse span {
	font: normal min(35px, 1.5vw) / 120% Brandon Grotesque;
	color: #707070;
	display: flex;
	position: relative;
	align-items: center;
	white-space: nowrap;
	margin: 0 3% 0 0;
}

.pronto-para-morar__tenhointeresse span::before {
	content: "";
	height: 2.5vw;
	background-color: #e3be20;
	display: inline-block;
	width: 2.5vw;
	z-index: -2;
	position: block;
	border-radius: 100%;
	margin-right: -1.7vw;
}

.arrow-right-pronto-para-morar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2vw;
}

.miniatura-container__texto {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.miniatura-container__texto h1 {
	font: min(78px, 3vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #ffffff;
}

.miniatura-container__texto p {
	padding: 2% 0 0 0;
	max-width: 1176px;
	width: 70%;
	font: min(25px, 1.5vw) / 120% Brandon Grotesque;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 0.9;
	margin: auto;
}
.projetos-header__container {
	position: relative;
}
.projetos-header-container-svg-header {
	margin-top: -4%;
}

@media only screen and (max-width: 1200px) {
	.sobre-grid-container {
		width: 90%;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 2% 2%;
		grid-template-areas:
			"sobre-imagem1 sobre-imagem2"
			"sobre-imagem3 sobre-imagem4";
	}
	.sobre-header__texto {
		width: 50%;
	}
	.sobre-header__content-image {
		width: 50%;
	}
}

@media only screen and (max-width: 700px) {
	.sobre-grid-container {
		width: 90%;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 0% 2%;
		grid-template-areas:
			"sobre-imagem1"
			"sobre-imagem2"
			"sobre-imagem3"
			"sobre-imagem4";
	}
	.sobre-grid-container span {
		padding: 2% 0;
		display: inline-block;
	}
}
